<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="Jaxio team" />

<link rel="alternate" type="application/atom+xml" title="Springfuse - Online java code generation" href="/atom.xml"/>

<!-- Framework CSS -->
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">

<link rel="stylesheet" href="/resources/uniform-1.5/css/uniform.aristo.css" type="text/css" media="screen" charset="utf-8" />

<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" ><![endif]-->
<!-- Import fancy-type plugin for the sample page. -->
<link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" media="screen">

<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="/js/jquery-1.4.3.min.js"></script>

<title>{{ page.title }}</title>