
<!-- javascript.html -->
<script type="text/javascript" src="/js/jquery-easing-1.3/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/js/jquery-fancybox-1.3.4/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/js/wtooltip-1.0.9-min.js"></script> 
<script type="text/javascript"> 
$(document).ready(function() {
	function menuOver(){
		$(this).find(".sub").stop().fadeTo('fast', 2).show();
	}

	function menuOut(){ 
		$(this).find(".sub").stop().fadeTo('slow', 2).hide();
	}

	$("ul#menu li .sub").css({'opacity':'0'});
	$("ul#menu li").hover(menuOver, menuOut);
	$("a.screen").fancybox({
		'zoomSpeedIn' : 300,
		'zoomSpeedOut' : 300,
		'overlayShow' : true,
		'overlayOpacity' : 0.7
	});
	
	$("#main label,#main a,#main textarea,#main p,#main input").wTooltip({
		className: "tooltip", 
		style: false//remove all pre-set inline styles 
	}); 
});
</script>
<!-- javascript.html -->
