<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>{% include head.html %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>
<body>
	<div class="container">
		<header id="header">
			<nav>
				<h1 id="logo" style="height:77px;">
					<a href="/"><img src="/images/logo/springfuse.png"></a>
				</h1>
				<ul id="menu">
					<li class="first-line">
						<a href="/">SpringFuse</a>
						<div class="sub" style="width: 250px">
							<ul style="width: 250px">
								<li><a href="/what-is-springfuse.html">What is SpringFuse ?</a></li>
								<li><a href="/documentation/configuration.html">Documentation</a></li>								
								<li><a href="/spring-security-integration-tutorial.html">Spring security tutorial</a></li>
								<li><a href="/change-log.html">Changelog</a></li>
								<li><a href="/faq.html">FAQ</a></li>
							</ul>
						</div>
					</li>
					<li class="first-line">
						<a href="/blog.html">Blog</a>
						<div class="sub" style="width: 455px;">
							<div class="row">
								<ul style="width: 455px;">
									<li><h2><a href="/blog.html">Latest posts</a></h2></li>
									{% for post in site.posts limit:5 %}
									<li><a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a></li>
									{% endfor %}
									<li><h2><a href="/blog.html">All posts</a></h2></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="first-line"><a href="http://www.jaxio.com/en/services.html">Services</a></li>					
					<li class="first-line"><a href="http://www.jaxio.com/en/">Jaxio</a></li>
					<li class="first-line"><a href="/contact-us.html">Contact us</a></li>					
				</ul>
			</nav>
		</header>
		<section id="main">
			{{ content }} {% if page.comments %}
			<aside>
				<div id="disqus_thread"></div>
			</aside>
			{% endif %}
		</section>
		<footer id="footer">
			All rights reserved &copy; 2012 <a href="http://www.jaxio.com/en/">Jaxio</a> | twitter: <a href="http://twitter.com/#!/springfuse">@springfuse</a> | <a href="/privacy-policy.html">Privacy policy</a>
		</footer>
	</div>
	{% include javascript.html %}
</body>
</html>
