<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	{% include head.html %}
</head> 
<body>
<div  class="container"> 
	<header id="header">
		<nav>
			<h1>
				<a href="/">Springfuse</a>
			</h1>
		    <ul id="menu">
		    	<li> 
		        	<a href="/" class="home">Home</a> 
		        </li> 
		        <li> 
		        	<a href="/gite.html">Product</a> 
		            <div class="sub" style="width:450px"> 
		            	<ul> 
		                	<li><h2><a href="#">Springfuse</a></h2></li> 
		                	<li><a href="#">free</a></li> 
		                    <li><a href="#">online</a></li> 
		                    <li><a href="#">features</a></li> 
		                </ul> 
		                <ul> 
		                	<li><h2><a href="#">Celerio</a></h2></li> 
		                	<li><a href="#">maven-plugin</a></li> 
		                	<li><a href="#">round-trip</a></li> 
		                	<li><a href="#">templates</a></li> 
		                </ul> 
		            </div> 
		        </li> 
		        <li>
		        	<a href="/service.html">Services</a>
		            <div class="sub" style="width:500px"> 
		            	<div class="row"> 
							<table class="tarifs">
								<thead>
									<tr> 
							        	<th>&nbsp;</th>
										<td>Saison</td>
										<td>Semaine</td>
										<td>Week-end</td>
									</tr>
							    </thead>
							    <tbody>
									<tr class="haute-saison">
										<th>&nbsp;</th>
										<td>Haute Saison</td>
										<td>1500 €</td>
										<td>400 €</td>
									</tr>
									<tr class="pleine-saison">
										<th>&nbsp;</th>
										<td>Pleine saison</td>
										<td>1100 €</td>
										<td>300 €</td>
									</tr>
							        	<tr class="moyenne-saison">
										<th>&nbsp;</th>
										<td>Moyenne Saison</td>
										<td>900 €</td>
										<td>200 €</td>
									</tr>
									<tr class="basse-saison">
										<th>&nbsp;</th>
										<td>Basse Saison</td>
										<td>700 €</td>
										<td>200 €</td>
									</tr>
								</tbody>
							</table>
						</div>
		            	<div class="row" style="text-align:center;"">
			            	<ul> 
			                	<li><h2><a href="/tarifs.html#semaine">Semaines</a></h2></li> 
			                </ul> 
			            	<ul> 
			                	<li><h2><a href="/tarifs.html#dispo">Disponibilités</a></h2></li> 
			                </ul> 
			            	<ul> 
			                	<li><h2><a href="/reserver.html">Réserver</a></h2></li> 
			                </ul> 
		            	</div> 
					</div>
		        </li> 
		        <li> 
		        	<a href="/change-log.html">Changelog</a>
		        </li> 
		        <li> 
		        	<a href="/blog.html">Blog</a>
		      		<div class="sub" style="width:400px;"> 
		            	<div class="row"> 
		                    <ul style="width: 400px;">
			                	<li><h2><a href="/blog.html">Latest posts</a></h2></li>
								{% for post in site.posts limit:5 %}
								<li><a href="{{ post.url }}">{{ post.date | date_to_string }}- {{ post.title }}</a></li>
								{% endfor %}
			                	<li><h2><a href="/blog.html">All posts</a></h2></li>
		                    </ul> 
		                </div> 
		            </div>  
		        </li>
		        <li>
		        	<a href="/acces.html">About-us</a> 
		            <div class="sub" style="width:300px;"> 
		            	<div class="row"> 
			            	<ul> 
			                	<li><h2><a href="/acces.html">En avion</a></h2></li>
			                    <li><h2><a href="/acces.html">En voiture</a></h2></li> 
			                </ul>
			            	<ul> 
			                    <li><h2><a href="/acces.html">En train</a></h2></li> 
			                    <li><h2><a href="/acces.html">Sur un poney ?</a></h2></li> 
			                </ul> 
			            </div>
			         </div> 
		        </li> 
		    </ul>
		</nav>
	</header>
	<section id="main">
		{{ content }}
		{% if page.comments %}
		<aside>
			<div id="disqus_thread"></div>
		</aside>
		{% endif %}
	</section>
	<footer id="footer">
		 Copyright &copy; 2010 <a href="http://www.jaxio.com/">Jaxio</a>. 
		All rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/privacy-policy.html">Privacy policy</a> 
	</footer>
</div> 
{% include javascript.html %}
</body> 
</html>