<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	{% include head.html %}
</head> 
<body>
<div  class="container"> 
	<header id="header">
		<nav>
	 		<div id="drapeaux">
				<a href="/"><img src="/images/drapeau-fr.gif"/></a>
				<a href="/en/"><img src="/images/drapeau-gb.gif"/></a>
				<a href="/construction.html"><img src="/images/drapeau-de.gif"/></a>
				<a href="/construction.html"><img src="/images/drapeau-it.gif"/></a>
				<a href="/construction.html"><img src="/images/drapeau-es.gif"/></a>
			</div>
			<h1>
				<a href="/">Springfuse</a>
			</h1>
		    <ul id="menu">
		    	<li> 
		        	<a href="/" class="home">Home</a> 
		        </li> 
		        <li> 
		        	<a href="/gite.html">Produce</a> 
		            <div class="sub" style="width:450px"> 
		            	<ul> 
		                	<li><h2><a href="#">Rez de chaussée</a></h2></li> 
		                	<li><a href="#">Entrée</a></li> 
		                    <li><a href="#">Salon</a></li> 
		                    <li><a href="#">Bureau</a></li> 
		                    <li><a href="#">Cuisine</a></li> 
		                    <li><a href="#">Buanderie</a></li> 
		                </ul> 
		                <ul> 
		                	<li><h2><a href="#">1er étage</a></h2></li> 
		                	<li><a href="#">Chambre 1</a></li> 
		                	<li><a href="#">Chambre 2</a></li> 
		                	<li><a href="#">Chambre 3</a></li> 
		                	<li><a href="#">Chambre 4</a></li> 
		                	<li><a href="#">Salle de bain</a></li> 
		                </ul> 
		                <ul> 
		                	<li><h2><a href="#">Extérieur</a></h2></li> 
		                	<li><a href="#">Piscine</a></li>
		                    <li><a href="#">Cabane</a></li>
		                    <li><a href="#">Terrasse</a></li> 
		                    <li><a href="#">Parc</a></li> 
		                </ul> 
		            </div> 
		        </li> 
		        <li>
		        	<a href="/tarifs.html">Services</a>
		            <div class="sub" style="width:500px"> 
		            	<div class="row"> 
							<table class="tarifs">
								<thead>
									<tr> 
							        	<th>&nbsp;</th>
										<td>Saison</td>
										<td>Semaine</td>
										<td>Week-end</td>
									</tr>
							    </thead>
							    <tbody>
									<tr class="haute-saison">
										<th>&nbsp;</th>
										<td>Haute Saison</td>
										<td>1500 €</td>
										<td>400 €</td>
									</tr>
									<tr class="pleine-saison">
										<th>&nbsp;</th>
										<td>Pleine saison</td>
										<td>1100 €</td>
										<td>300 €</td>
									</tr>
							        	<tr class="moyenne-saison">
										<th>&nbsp;</th>
										<td>Moyenne Saison</td>
										<td>900 €</td>
										<td>200 €</td>
									</tr>
									<tr class="basse-saison">
										<th>&nbsp;</th>
										<td>Basse Saison</td>
										<td>700 €</td>
										<td>200 €</td>
									</tr>
								</tbody>
							</table>
						</div>
		            	<div class="row" style="text-align:center;"">
			            	<ul> 
			                	<li><h2><a href="/tarifs.html#semaine">Semaines</a></h2></li> 
			                </ul> 
			            	<ul> 
			                	<li><h2><a href="/tarifs.html#dispo">Disponibilités</a></h2></li> 
			                </ul> 
			            	<ul> 
			                	<li><h2><a href="/reserver.html">Réserver</a></h2></li> 
			                </ul> 
		            	</div> 
					</div>
		        </li> 
		        <li> 
		        	<a href="/tourisme.html">Changelog</a>
		            <div class="sub" style="width:450px;"> 
		            	<div class="row"> 
			            	<ul> 
			                	<li><h2><a href="/tourisme.html#semaine">Culture</a></h2></li> 
			                	<li><a href="/tourisme.html">Cité de Carcassonne</a></li> 
			                	<li><a href="/tourisme.html">Les châteaux cathares</a></li> 
			                	<li><a href="/tourisme.html">Toulouse</a></li> 
			                </ul> 
			            	<ul> 
			                	<li><h2><a href="/tourisme.html#semaine">Histoire</a></h2></li> 
			                	<li><a href="/tourisme.html">Sorèze</a></li> 
			                	<li><a href="/tourisme.html">Abbayes</a></li> 
			                	<li><a href="/tourisme.html">Grottes</a></li> 
			                </ul>
			            	<ul> 
			                	<li><h2><a href="/tourisme.html#semaine">Culinaire</a></h2></li> 
			                	<li><a href="/tourisme.html">Castelnaudary</a></li> 
			                	<li><a href="/tourisme.html">Vins du sud</a></li> 
			                	<li><a href="/tourisme.html">Terroire</a></li> 
			                </ul> 
		            	</div>
						<div class="row"> 
			            	<ul> 
			                	<li><h2><a href="/tourisme.html#semaine">Nature</a></h2></li> 
			                	<li><a href="/tourisme.html">Le Canal du Midi</a></li> 
			                	<li><a href="/tourisme.html">Saint-Ferréol</a></li> 
			                	<li><a href="/tourisme.html">Lac du lampy</a></li> 
			                </ul>
			            	<ul> 
			                	<li><h2><a href="/tourisme.html#semaine">Enfants</a></h2></li> 
			                	<li><a href="/tourisme.html">Narbonne Plage</a></li> 
			                	<li><a href="/tourisme.html">Cité de l'espace</a></li> 
			                	<li><a href="/tourisme.html">Aqualand</a></li> 
			                </ul> 
			            	<ul>
			                	<li><h2><a href="/tourisme.html#semaine">Sport</a></h2></li> 
			                	<li><a href="/tourisme.html">Sports nautiques</a></li> 
			                	<li><a href="/tourisme.html">Aqualand</a></li> 
			                	<li><a href="/tourisme.html">Tennis</a></li> 
			                </ul> 
		            	</div> 
					</div> 
		        </li> 
		        <li> 
		        	<a href="/blog.html">Blog</a>
		      		<div class="sub" style="width:250px;"> 
		            	<div class="row"> 
		                    <ul style="width: 225px;">
			                	<li><h2><a href="/blog.html#semaine">Nos billets</a></h2></li>
								{% for post in site.posts limit:5 %}
								<li><a href="{{ post.url }}">{{ post.title }} {{ post.date | date_to_string }}</a></li>
								{% endfor %}
		                    </ul> 
		                </div> 
		            </div>  
		        </li>
		        <li> 
		        	<a href="/acces.html">About-us</a> 
		            <div class="sub" style="width:300px;"> 
		            	<div class="row"> 
			            	<ul> 
			                	<li><h2><a href="/acces.html">En avion</a></h2></li>
			                    <li><h2><a href="/acces.html">En voiture</a></h2></li> 
			                </ul>
			            	<ul> 
			                    <li><h2><a href="/acces.html">En train</a></h2></li> 
			                    <li><h2><a href="/acces.html">Sur un poney ?</a></h2></li> 
			                </ul> 
			            </div>
			         </div> 
		        </li> 
		    </ul>
		</nav>
	</header>
	<section id="main">
		{{ content }}
		{% if page.comments %}
		<aside>
			<div id="disqus_thread"></div>
		</aside>
		{% endif %}
	</section>
	<footer id="footer">
		 Copyright &copy; 2010 <a href="http://www.jaxio.com/">Jaxio</a>. 
		All rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="/privacy-policy">Privacy policy</a> 
	</footer>
</div> 
{% include javascript.html %}
</body> 
</html>